spring:
  application:
    name: back
  datasource:
    url: jdbc:mysql://175.24.9.38:3306/blog?useSSL=false&characterEncoding=UTF-8
    username: username
    password: password
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
  redis:
    host: 175.24.9.38         # Redis服务器地址
    port: 6379              # Redis服务器连接端口
    password: "password"              # Redis服务器连接密码（默认为空）
    jedis:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 20
        min-idle: 0
    timeout: 5000
#    pool:
#      max-active: 200       # 连接池最大连接数（使用负值表示没有限制）
#      max-idle: 10          # 连接池中的最大空闲连接
#      max-wait: -1          # 连接池最大阻塞等待时间（使用负值表示没有限制）
#      min-idle: 0           # 连接池中的最小空闲连接
#      timeout: 3000           # 连接超时时间（毫秒）

server:
  port: 8080

mybatis-plus:
  mapper-locations: classpath*:/mapper/**Mapper.xml
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
