<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hausahan.blog.mapper.MenuMapper">

    <select id="getMenuIdsByRoleId" resultType="java.lang.Long">
        select distinct
            m.id
        from menu m
        left join role_menu rm on m.id = rm.menu_id
        where rm.role_id = #{roleId}
    </select>

</mapper>
